#main-div {
    position: relative;
    top: 30px;
    /*outline:2px solid #000;*/
    /*font-size: 0;*/
    margin:auto;
    height:960px;
    width:960px;
    padding: 0;
    border: none;
}

.grid {
    margin:0;
    padding: 2px;
    border:1px solid #dee2e6;
    /*outline:1px solid #000;*/
    display:grid;

    /* e.g.
        1fr 1fr
        minmax(10px, 1fr) 3fr
        repeat(5, 1fr)
        50px auto 100px 1fr
    */
    grid-template-rows: auto;
    /* e.g.
        min-content 1fr min-content
        100px 1fr max-content
    */

    column-gap: 5px;
    row-gap: 5px;
}

.camera {
    border: 2px solid #939393;
    border-radius: 7px;
    font-size: 20px;
    padding: 5px;
    display:grid;
    grid-template-columns: 1fr;
}

.numar-camera {
    font-size: 1.35em;
}

.locatar {
    font-size: 1em;
}

.loc_ocupat_platitor {
    background-color: #b1dfbb;
}

.loc_ocupat_gratuit {
    background-color: #ffeeba;
}

.loc-liber {
    background-color: #fafafa;
}

.header {
    height: 200px;
}

.tippy-box[data-theme~='tomato'] {
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
}

#filtru-data-container .form-control {
    padding: .6rem .75rem !important;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #999;
    opacity: 0.5;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
